<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculo</title>
    <link rel="icon" type="image/x-con" href="/assets/logo.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
</head>

<body>
    <div id="page-home">
        <header>
            <img src="/assets/logo.jpg" alt="Logomarca">
            <h1>Curriculum Vitae</h1>
        </header>

        <div class="content">
            <nav id="mySidenav">
                <a href="#about" class="about"> <span>About</span> </a>
                <a href="#career" class="career"><span>Career</span> </a>
                <a href="#projects" class="projects"><span>Projects</span> </a>
                <a href="#contact" class="contact"><span>Contact</span> </a>
            </nav>

            <main>
                <div id="about">
                    <h2>About me</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident voluptatum quaerat officia amet quasi debitis placeat corporis ut. Odio repellendus aspernatur aut in labore iure aperiam consectetur vel neque officia voluptatibus
                        consequatur, excepturi, veritatis cumque tempore. Alias voluptatibus, nostrum nam dolores temporibus at eum eligendi tempora neque, numquam delectus porro odio reprehenderit quia ea incidunt atque? Enim odio fugit, corporis quisquam
                        quo provident assumenda explicabo modi natus. Voluptate fuga repudiandae quaerat exercitationem vel vitae odio tempora, facere numquam vero aspernatur eaque voluptas reiciendis aliquam inventore tenetur voluptatum possimus cupiditate
                        ad magni provident quas esse! Quaerat dolores accusamus perspiciatis. Iusto nisi eius labore atque neque cumque reiciendis repellat! Nisi id mollitia, maiores perspiciatis esse nemo temporibus architecto ducimus hic, vitae placeat
                        quasi voluptatem dolorem? Illo, esse fugit nobis eveniet ipsum tenetur, labore et perspiciatis fuga impedit odit omnis illum nulla iste. Sit earum iure, quas nostrum voluptatum ducimus possimus consequatur libero dolorum error!
                        Odit perspiciatis repudiandae, obcaecati pariatur repellat doloribus fuga sequi dolore voluptates numquam ea nostrum! Corrupti, veniam assumenda. Quae debitis nostrum officia a iusto. Asperiores, reprehenderit autem odit culpa
                        numquam qui libero! Voluptates neque et, animi quaerat mollitia dolorum, modi repellendus dolores consectetur placeat, dolor ipsam nemo cumque quibusdam?</p>
                </div>

                <div id="career">
                    <h2>My Timeline</h2>

                    <div class="timeline">
                        <div class="container left">
                            <div class="content">
                                <h2>2015</h2>
                                <p>Lorem ipsum..</p>
                            </div>
                        </div>

                        <div class="container right">
                            <div class="content">
                                <h2>2016</h2>
                                <p>Lorem ipsum..</p>
                            </div>
                        </div>


                        <div class="container left">
                            <div class="content">
                                <h2>2017</h2>
                                <p>Lorem ipsum..</p>
                            </div>
                        </div>

                        <div class="container right">
                            <div class="content">
                                <h2>2018</h2>
                                <p>Lorem ipsum..</p>
                            </div>
                        </div>

                        <div class="container left">
                            <div class="content">
                                <h2>2019</h2>
                                <p>Lorem ipsum..</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="projects">
                    <h2>My projects</h2>

                    <div class="project-group">
                        <div class="project">
                            <img src="/assets/proj-ex.jpg" alt="Project1">
                            <h3>Nome Projeto</h3>
                            <p class="description"> Lorem ipsum dolor sit amet.</p>
                        </div>

                        <div class="project">
                            <img src="/assets/proj-ex.jpg" alt="Project2">
                            <h3>Nome Projeto</h3>
                            <p class="description"> Lorem ipsum dolor sit amet.</p>
                        </div>

                        <div class="project">
                            <img src="/assets/proj-ex.jpg" alt="Project3">
                            <h3>Nome Projeto</h3>
                            <p class="description"> Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>

                <div id="contact">
                    <h2>Contact</h2>

                    <div class="card">
                        <img src="/assets/perfi2l.jpg" alt="Autor">
                        <h2>Alan Hideyuki Shishido</h2>
                        <p>Tecnico em Automação, Freelancer</p>
                        <p>Universidade Amazonas</p>
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <p><button>Contact</button></p>
                    </div>

                    <div class="contactMe">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                </div>
            </main>


        </div>
        <footer></footer>
    </div>
</body>

</html>